<html>
    <head>
        <title>University Registrar</title>
    </head>
    <body>
        <h1>{{ course.getName }}</h1>

        {% if students is not empty %}
            <p>Here are the students for this course:</p>
            <ul>
                {% for student in students %}
                    <li>
                        {{ student.getName }}
                        {{ student.getDateEnrolled }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="/">Home</a>
    </body>
</html>
